.section-container1 {
    margin: 0 5rem;


}

.footer-section {
    padding-top: 4rem;

    /* background-color: rgb(217, 213, 213); */
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.talk-heading {
    font-size: 4.5rem;

}

.talk-sub-heading {
    font-size: 1.7rem;
}

.first-right-section {
    display: flex;
}

.footer-link-div {
    color: rgb(0, 0, 0);
    margin-right: 130px;
    display: flex;
    flex-direction: column;


}

.footer-link-div a {
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 20px;
}

.animation-BA {
    display: inline-block;
    color: rgb(0, 0, 0);
    width: max-content;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 35%;
    text-decoration-color: rgb(177, 177, 176);

}

.animation-BA::after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    position: relative;
    top: 1px;
    transition: width .2s ease, background-color .4s ease;
    background-color: rgba(3, 3, 3, 0.14);

}

.animation-BA:hover::after {
    width: 100%;
    background-color: black;

}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.road-address {
    font-size: 1.1rem;
}

.privay-terms-div p {
    font-size: 1.1rem;
    margin-right: 25px;
}

.icons-div {
    /* margin-right: 50px; */
}

.span-icon {
    padding: 10px 20px;
}

.third-section {
    display: flex;
    justify-content: space-between;
}

.third-left-div p {
    margin-right: 25px;
}

.third-right-div {
    margin-right: 100px;
}

.company-year {
    font-size: 1.1rem;
    margin-right: 20px;
}
@media screen and (max-width:1250px) {
        .section-container1{
            margin: 0 3rem;

        }
        .talk-heading{
            font-size: 3rem;
        }
        .talk-sub-heading{
            font-size: 1.3rem;
        }
        .first-section{
            margin-bottom:120px;
        }
        .first-right-section >:nth-child(2){
            margin-right: 20px
        }
        .road-address{
            font-size: .9rem;
        }
        .span-icon{
            padding: 10px 12px;
        }
        .third-right-div{
            margin-right: 15px ;
        }

    
}


@media screen and (max-width:750px) {
    .section-container1{
        margin: 0 2rem;

    }
    .footer-section{
        padding-top:30px ;
    }
    .talk-heading{
        font-size: 2.5rem;
    }
    .talk-sub-heading{
        font-size: 1.1rem;
        margin-bottom: 50px;
    }
    .first-section{
        margin-bottom:50px;
        flex-direction: column;
    }
    .second-section{
        margin: 0;
        flex-direction: column-reverse;
    }

    .second-right-div{
        margin-bottom: 40px;
    }
    .second-left-div{
        margin-bottom: 20px;
    }
    .third-section{
        flex-direction: column;
    }
    .span-icon{
        padding: 10px 20px;
    }
    .road-address{
        font-size: .9rem;
    }
    .company-year{
        font-size: 14px;
    }
}
@media screen and (max-width:450px) {
    .section-container1{
     margin: 0 1.5rem;
    }

    .span-icon{
        padding: 10px 8px;
    }
    .first-right-section a{
font-size: .9rem;
    }
    .first-right-section >:nth-child(1){
        margin-right:70px
    }


}